body {
    font-family: "Reenie Beanie", cursive;
    background-color: #F1EAFF;
    line-height: 2.2rem;
}

/* -------------------Global Scroll Bar---------------------- */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #F1EAFF;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #7E57C2;
    border-radius: 10px;
}

/* -----------------------Navbar---------------------- */
.navbar {
    background-color: #451952;
}

.navbar-brand {
    color: #F1EAFF;
    font-size: 2rem !important;
}

.navbar-brand:hover {
    color: #F1EAFF !important;
}

.nav-item .nav-link {
    color: #F1EAFF;
    font-size: 1.5rem !important;
    padding: 0px !important;
}

.nav-item .nav-link:hover {
    color: #D8CCED;
}

.icon {
    margin-right: 10px !important;
}

/* to remove the default border around the humburger button */
button.navbar-toggler {
    border: none;
    outline: none;
    box-shadow: none;
}

button.navbar-toggler:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.navbar-toggler:focus {
    background: none;
    outline: 0;
}

.navbar-toggler span {
    display: block;
    width: 30px;
    height: 2px;
    margin: 6px auto;
    background: #fff;
    transition: all .6s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

.navbar-toggler:hover span,
.navbar-toggler:focus span {
    background: #fff;
}

/* rotate first span */
.navbar-toggler[aria-expanded="true"] span:first-of-type {
    transform: rotate(45deg) translate(6px, 6px);
}

/* hide second span */
.navbar-toggler[aria-expanded="true"] span:nth-of-type(2) {
    opacity: 0;
}

/* rotate third span */
.navbar-toggler[aria-expanded="true"] span:last-of-type {
    transform: rotate(-45deg) translate(5px, -5px);
}

.navbar-toggler[aria-expanded="false"] span {
    transform: none;
    opacity: 1;
}

.navbar-toggler span {
    display: block;
    width: 30px;
    height: 2px;
    margin: 6px auto;
    background: #fff;
    transition: all .6s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

/* rotate first span */
.navbar-toggler[aria-expanded="true"] span:first-of-type {
    transform: rotate(45deg) translate(6px, 6px);
}

/* hide second span */
.navbar-toggler[aria-expanded="true"] span:nth-of-type(2) {
    opacity: 0;
}

/* rotate third span */
.navbar-toggler[aria-expanded="true"] span:last-of-type {
    transform: rotate(-45deg) translate(5px, -5px);
}

.navbar-toggler[aria-expanded="false"] span {
    transform: none;
    opacity: 1;
}

/* --------------------Hero section------------------ */
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Paragraph styling */
.hero-section-para {
    font-size: 1.5rem;
    text-align: justify;
    margin: 0px;
}

/* Button styling */
.btn {
    font-size: 1.5rem;
    padding: 0.2rem 1rem;
    margin-top: 0.5rem;
    background-color: #451952;
    color: #F1EAFF;
    outline: none;
}

.btn:hover {
    background-color: #451952 !important;
    color: #F1EAFF !important;
    outline: none !important;
}

/* ---------------------------Features------------------------ */
.card {
    border-radius: 8px !important;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-weight: bold;
    text-decoration: underline;
    font-size: x-large;
}

.card-text {
    font-size: 1.1rem;
}

/* Paragraph styling */
.self-section-para {
    font-size: 1.5rem;
    text-align: justify;
    margin: 0px;
}

/* -------------------------Footer------------------------ */

.footer {
    background-color: #0D1B2A;
    padding: 50px 10px 50px 10px;
    margin-top: 50px;
}