body {
    font-family: "Reenie Beanie", cursive;
    background-color: #F1EAFF;
}

.navbar {
    background-color: #451952 !important;
    height: 80px;
}

.navbar-brand {
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    color: white !important;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: white !important;
    font-size: 1.5rem;
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 0px 30px !important;
}

/* Image styling */
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Paragraph styling */
.hero-section-para {
    font-size: 1.5rem;
    text-align: justify;
    margin: 0px;
}

/* Button styling */
.btn {
    font-size: 1.5rem;
    padding: 0.2rem 1rem;
    margin-top: 0.5rem;
    background-color: #451952;
    color: #F1EAFF;
    outline: none;
}

.btn:hover {
    color: #F1EAFF;
}